<div id="start">
  <h1>Animevisa</h1>
  <div class="result" *ngIf="scoreService.tries">
    <h2>Pisteesi</h2>
    <div class="score">{{ scoreService.score }}/{{ scoreService.tries }}</div>
    <a class="share" href="https://twitter.com/intent/tweet?text=Sain%20animevisassa%20{{scoreService.score}}%20oikein%20{{scoreService.tries}}%20kysymyksestä%21&url=https://visa.shironeko.science&hashtags=animevisa">
      <img src="assets/Twitter_Logo_Blue.svg">
      <span>Jaa tulos</span>
    </a>
  </div>
  <div class="new-game">
    <h2>{{ scoreService.tries ? 'Pelaa uudelleen' : 'Aloita peli'}}</h2>
    <div class="round-options">
      <div (click)="onGameStart(1)">1 kierros</div>
      <div (click)="onGameStart(10)">10 kierrosta</div>
      <div (click)="onGameStart(50)">50 kierrosta</div>
      <div (click)="onGameStart(0)">Loputon</div>
    </div>
  </div>
</div>
