@import '../../variables.scss';

#question {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 95vw;
    margin: auto;

    .top-bar {
        display: flex;
        align-items: center;

        & > h1 {
            flex: 1 1 auto;
            color: $quite-white;
            font-weight: 200;
            font-size: 1.6em;
            white-space: nowrap;
        }
        .score {
            display: block;
            flex: 0 0 50px;
            height: 50px;
            background: $blue;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $quite-white;
            margin: 0 15px;
            box-shadow: 1px 1px 4px $bg-shadow;
            text-align: center;
        }
    }

    .quiz-progress {
        background-color: $quite-white;
        width: 80vw;
        max-width: 500px;
        height: 30px;
        min-height: 10px;
        border-radius: 15px;
        margin: 1vh;
        overflow: hidden;
        display: block;
        box-shadow: inset 4px 4px 4px $quite-white-shadow;

        .percentage {
            background-color: $blue;
            height: calc(100% + 20px);
            margin-top: -10px;
            display: block;
            transition-property: width;
            transition-duration: 0.5s;
        }
    }

    .character-image {
        flex: 0 0 95vw;
        box-sizing: border-box;
        background-color: $quite-white;
        padding: 10px;
        width: 95vw;
        max-width: 250px;
        max-height: 250px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 2em;
        box-shadow: inset 4px 4px 4px $quite-white-shadow;

        & > img {
            height: 100%;
            border-radius: 10px;
            box-shadow: 4px 4px 4px $quite-white-shadow;
        }
    }

    .options {
        display: flex;
        flex: 1 1 100%;
        max-height: 20em;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .option {
            width: 85vw;
            max-width: 500px;
            overflow: hidden;
            display: block;
            background-color: $blue;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0.5em;
            text-align: center;
            border-radius: 1em;
            color: $quite-white;
            box-shadow: 1px 1px 4px $bg-shadow;
            cursor: pointer;
            margin: 2px;

            &.correct {
                background-color: $green;
                border-color: $green;
            }

            &.incorrect.selected {
                background-color: $red;
                border-color: $red;
            }

            &.selected {
                margin: -6px;
                border-style: solid;
                border-width: 6px;
                transition-property: border-width, margin;
                transition-duration: 0.2s;
            }

            .primary-title {
                font-size: 1.4em;
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .secondary-title {
                font-size: 1.2em;
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .stop-button {
        width: 65vw;
        max-width: 350px;
        overflow: hidden;
        display: block;
        background-color: $quite-white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.5em;
        text-align: center;
        border-radius: 1em;
        box-shadow: inset 4px 4px 4px $quite-white-shadow;
        cursor: pointer;
        margin: 2px;
        font-size: 1.2em;
    }

    @media (min-width: 500px) and (min-height: 700px) {
        .character-image {
            max-width: 350px;
            max-height: 350px;
        }
        .top-bar {
            & > h1 {
                font-size: 2.2em;
            }
            .score {
                flex-basis: 60px;
                height: 60px;
                border-radius: 30px;
                margin: 20px;
                font-size: 1.2em;
            }
        }
        .options .option {
            .primary-title {
                font-size: 1.6em;
            }
            .secondary-title {
                font-size: 1.4em;
            }
        }
        .quiz-progress {
            min-height: 30px;
        }
    }

    @media (min-width: 500px) and (min-height: 900px) {
        .character-image {
            max-width: 500px;
            max-height: 500px;
        }
        .top-bar {
            & > h1 {
                font-size: 2.8em;
            }
            .score {
                flex-basis: 76px;
                height: 76px;
                border-radius: 38px;
                margin: 25px;
                font-size: 1.5em;
            }
        }
        .options .option {
            .primary-title {
                font-size: 2em;
            }
            .secondary-title {
                font-size: 1.8em;
            }
        }
        .quiz-progress {
            min-height: 30px;
        }
    }
}
